.App {
  font-family: sans-serif;
  text-align: center;
}
.square {
  display: inline;
  margin: 1px;
}
.board {
  /* margin-top: 10em; */
}
.Box:hover {
  background-color: #4dff4d;
  color: red;
}
.Box {
  height: 10em;
  width: 10em;
}
.Row1,
.Row2,
.Row3 {
  margin: 1px;
}
.current_player {
  margin-top: 5em;
  margin-bottom: 5em;
}
.clearButton {
  margin-top: 3em;
  height: 3em;
  width: 4em;
  /* margin-left: 4em; */
}
